:root {
    --bg-color: #0f0f0f;
    --card-bg: #1e1e1e;
    --text: #ffffff;
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {}

.main-stage {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 16/9;
    background: #000;
}

iframe {width: 100%; height: 100%;border: none;}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.video-card {
    background: var(--card-bg);
}