:root {
    --bg-color: #0f0f0f;
    --card-bg: #1e1e1e;
    --text: #ffffff;
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 a { color: pink;
font-size: 0.8em;
}

.main-stage {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 16/9;
    background: #000;
}

iframe {width: 100%; height: 100%;border: none;}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.video-card {
    background: var(--card-bg);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s,border-color 0.2s;
    border: 2px solid transparent;
    text-align: center;
}

.video-card:hover {
    transform: translateY(-5px);
    background: #2a2a2a;
}
.video-card.active {
    border-color: var(--accent);
    background: #252525;
}


.video-card img {
    transition: filter 0.3s;
    filter: grayscale(30%); /* Fica um pouco mais sóbrio */
}

.video-card.active img {
    filter: grayscale(0%); /* O vídeo ativo fica colorido */
}

.thumb-video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 6px;
    overflow: hidden;
    background: #000;
}

.thumb-video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: none;
}

.click-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}

.video-card.active .thumb-video-container {
    border: 2px solid var(--accent);
}

.thumb-preview {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: cover;
    background: #333;
}

.video-title {
    font-size: 0.9rem;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}