body {
	background: rgba(10, 10, 10, 0.6) url(/imagens/Identity-Access-Management.jpg.webp) no-repeat center top;
	background-size: 1920px;
	background-blend-mode:multiply;
}
header{
width: auto;
height: 100px;
align-self: center;
}
.topbar-grad {
	width: auto;
	height: 3px;
	background: linear-gradient(65deg,#E16D2F, #C39C1B, #94AD24, #59B819, #564599);
}