:root {
	--glass-bg: rgba(255, 255, 255, 0.15);
	--glass-border: rgba(255, 255, 255, 0.2);
	--text-color: #ffffff;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', sans-serif;
	background: linear-gradient(45deg, #0f0c29, #302b63, #24243e) url(/imagens/Identity-Access-Management.jpg.webp) no-repeat center top;
	background-size: 1920px;
	background-blend-mode:multiply;
	min-height: 100vh;
}
.topbar-grad {
	width: auto;
	height: 3px;
	background: linear-gradient(65deg,#E16D2F, #C39C1B, #94AD24, #59B819, #564599);
}