:root {
  --glass-bg: rgba(255, 255, 255, 0.25);
  --glass-border: rgba(255, 255, 255, 0.2);
  --text-primary: #ffffff;
  --text-secondary: #cbd5e0;
  --accent-color: #63b3ed;
  /* Um tom de azul para links e destaque*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

html,
body {
  height: 100dvh;
}

use {
  fill: rgba(255, 255, 255, 0.5);
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?q=80&w=3764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;

  font-family: "Inter", "Segoe UI", sans-serif;
  /*background: linear-gradient(45deg, #0f172a 0%, #1e293b 100%);*/
  color: var(--text-primary);
  min-height: 100vh;
  line-height: 1.6;
  padding-top: 20px;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-weight: 300;
  color: var(--accent-color);
  margin-bottom: 1.5rem;
}

h3 {
  font-weight: 300;
  color: var(--accent-color);
}

noscript {
  background-image: url(../images/peakpx.jpg);
  background-size: cover;
  font-size: 1rem;
  text-align: center;
  padding: 40px;
  font-family: sans-serif;
}

.topbar-grad {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(65deg,
      #5ab6be,
      #7facab,
      #a89c86,
      #e5a565,
      #f4bc68,
      #eb893e);
}

.liquid-glass {
  position: fixed;
  padding: 1.5rem;
  border-radius: 100vmax;
  isolation: isolate;
  background-color: rgb(255 255 255 / 25%);
  color: rgb(255 255 255 / 90%);
  text-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  font-size: 1.25rem;
  box-shadow: 0 6px 6px rgb(0 0 0 / 20%), 0 0 20px rgb(0 0 0 / 10%);
  text-align: center;
  user-select: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }

  &::before {
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    z-index: -1;
  }

  &::after {
    box-shadow: inset 2px 2px 1px 0 rgb(255 255 255 /50%), inset -1px -1px 1px 1px rgb(255 255 255 / 50%);
  }

}

.navbar-liquid {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  z-index: 1000;

  /*
  background: var(--glass-bg);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid var(--glass-border);
  border-radius: 50px;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.37) inset;
*/
}

.navbar-liquid:hover {
  background: rgba(255, 255, 255, 0.15);
  width: 92%;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
  font-weight: 500;
  padding: 0.5rem 1.5rem !important;
}

.nav-link:hover {
  color: #fff !important;
}

.btn-resume {
  border: 1px solid var(--glass-border);
  background: var(--glass-bg);
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  border: 1px solid var(--glass-border);
  border-radius: 50px;
}

.btn-resume:hover {
  background: rgba(255, 255, 255, 0.15);
}

.btn-tgl:active,
.btn-tgl:focus,
.btn-tgl:focus-visible,
.btn-tgl:focus-within,
.btn-tgl:visited,
.btn-tgl:hover {
  color: transparent;
  outline: 0 transparent !important;
  border-width: 0px !important;
  -webkit-outline-style: none !important;
  -moz-outline-style: none !important;
  outline-style: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

.pageWrapper {
  top: 80px;
  position: relative;
}

section {
  max-width: 900px;
  margin: 0px auto;
  padding: 100px 20px;
  min-height: 80vh;
  border: 1px solid black;
  /*remover antes de lançar*/
}

 /*
section {
  Configuração inicial para animação de fade-in
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}
*/
/* Classe adicionada via JS para ativar a animação*/

section.visible {
  opacity: 1;
  transform: translateY(0);
}

*/
/* Pagina index */

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  min-height: 80vh;
}

/* Pagina sobre 

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  min-height: 80vh;
}

#lista-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
}

#lista-tech li {
  font-size: 1rem;
  background: var(--glass-bg);
  border: 1px solid var(--glass-border);
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 0.85rem;
}
*/
/* Pagina trabalho 

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  min-height: 80vh;
}

#work p {
  font-size: 1rem;
}

.job-title {
  text-transform: uppercase;
  font-weight: 100;
}

.job-title-junction {
  text-transform: none;
  font-size: 1rem;
}

.projeto-card {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid var(--glass-border);
  padding: 1.5rem;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.projeto-card:hover {
  transform: scale(1.02);
  background: rgba(255, 255, 255, 0.05);
}
*/
/* Pagina Contatos 

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 80vh;
}
*/
/* Links de Contato 

#social-links a {
  color: var(--accent-color);
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}*/